<div style="text-align: center;">
        <%= search_form_for q, url: url, method: :get do |f| %>
          <%= f.search_field :name_cont %>
          <%= f.submit '検索' %>
        <% end %>
        <div style="margin-top: 30px;"></div>
</div>